.el-wrapper {
  width: 100%;
  padding: 25px 35px;
  /* background: #f3efe7; */
}

/* Banner */
.el-banner {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 25px;
}

/* Title */
.el-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #2c2c2c;
}

/* Subtitle */
.el-sub {
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0 20px;
  color: #333;
}

/* Grid */
.el-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px 10px;
  margin-bottom: 20px;
}

/* Item */
.el-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.el-item span {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}

/* Circle Image */
.el-icon {
  width: 125px;
  height: 125px;
  padding: 12px;
  /* background: white; */
  /* border-radius: 50%; */
  object-fit: contain;
}


/* Responsive */
@media (max-width: 1024px) {
  .el-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .el-icon {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .el-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .el-icon {
    width: 70px;
    height: 70px;
  }
}
