.gc-wrapper {
  width: 100%;
  padding: 25px 35px;
  /* background: #f3efe7; */
}

/* Banner */
.gc-banner {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 25px;
  object-fit: cover;
}

/* Title */
.gc-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #2c2c2c;
}

/* Subtitle */
.gc-sub {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 20px;
  color: #333;
}

/* Grid */
.gc-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px 10px;
}

/* Circular item */
.gc-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.gc-item span {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}

/* Circle icon */
.gc-icon {
  width: 125px;
  height: 120px;
  /* background: #fff; */
  padding: 10px;
  border-radius: 50%;
  object-fit: contain;
  /* transition: transform .2s ease; */
}

/* Hover
.gc-item:hover .gc-icon {
  transform: scale(1.05);
} */

/* Responsive */
@media (max-width: 1024px) {
  .gc-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .gc-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .gc-icon {
    width: 70px;
    height: 70px;
  }
}
